body {
    background-color: rgb(193, 0, 0);
}

.bodytext {
    font-family: 'Monospace', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 30px;
    padding: 50px;
}

.header, .wrapper-emoji {
    display: flex;
    justify-content: center;
}

.button {
    border: 5px white solid;
    display: inline;
    padding: 1em;
    border-radius: 15px;
    width: 75px;
    margin: 10px;
    font-family: 'Monospace', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    text-decoration: none;
    transition: transform 0.1s ease-in-out;
    transform-origin: center center;
}

.button:hover {
    transform: scale(1.1, 1.1);
}

.title {
    font-family: 'Monospace', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
    color: white;
}


.emoji {
    padding: 1em;
    width: 75px;
    margin: 10px;
    font-size: 100px;
    transition: transform 0.1s ease-in-out;
    transform-origin: center center;
    text-decoration: none;
}


.emoji1 {
    padding: 1em;
    width: 75px;
    margin: 10px;
    font-size: 100px;
    transition: transform 0.1s ease-in-out;
    transform-origin: center center;
    text-decoration: none;
}

.emoji2 {
    padding: 1em;
    width: 75px;
    margin: 10px;
    font-size: 100px;
    transition: transform 0.1s ease-in-out;
    transform-origin: center center;
    text-decoration: none;
}

.emoji3 {
    padding: 1em;
    width: 75px;
    margin: 10px;
    font-size: 100px;
    transition: transform 0.1s ease-in-out;
    transform-origin: center center;
    text-decoration: none;
}


.emoji:hover {
    transform: scale(1.5, 1.5);
}

.citation {
    font-family: 'Monospace', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
}





/* DEBUT pour animation emoji rebond*/
.emoji1 {
    animation: bounce 1s ease infinite;
    -webkit-animation: bounce 1s ease infinite;
  }
  
  .emoji2 {
    animation: bounce 1s ease infinite .1s;
    -webkit-animation: bounce 1s ease infinite .1s;
  }
  
  .emoji3 {
    animation: bounce 1s ease infinite .2s;
    -webkit-animation: bounce 1s ease infinite .2s;
  }


@keyframes bounce {
    0%   { transform: scale(1,1) translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-55px);}
    50%  { transform: scale(1.05,.95) translateY(0); }
    58%  { transform: scale(1,1) translateY(-7px); }
    65%  { transform: scale(1,1) translateY(0);}
    100% { transform: scale(1,1) translateY(0);}
}

@-webkit-keyframes bounce {
   0%   { transform: scale(1,1) translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-55px);}
    50%  { transform: scale(1.05,.95) translateY(0); }
    58%  { transform: scale(1,1) translateY(-7px);}
    65%  { transform: scale(1,1) translateY(0);}
    100% { transform: scale(1,1) translateY(0);} 
}


.bouncing-text:before, .bouncing-text:after {
content:"";
position: absolute;
background-color: rgba(0,0,0,0.4);
width: 50px;
height:5px;
border-radius:50%;
top:82px;
z-index:-1;
}

.shadow, .shadow-two {
position: absolute;
top:82px;
z-index:-1;
}

.shadow:before, .shadow:after, .shadow-two:before, .shadow-two:after {
content:"";
position: absolute;
background-color: rgba(0,0,0,0.4);
width: 50px;
height:5px;
border-radius:50%;
top:0;  
}

.bouncing-text:before {
left:0;
animation: scale 1s linear infinite;
-webkit-animation: scale 1s linear infinite;
}

@keyframes scale {
0% {transform: scaleX(1);}
25% {transform: scaleX(0.4);}
50% {transform: scaleX(1);}
75% {transform: scaleX(0.9);}
100% {transform: scaleX(1);}
}

@-webkit-keyframes scale {
0% {transform: scaleX(1);}
25% {transform: scaleX(0.4);}
50% {transform: scaleX(1);}
75% {transform: scaleX(0.9);}
100% {transform: scaleX(1);}
}

.bouncing-text:after {
left: 57px;
animation: scale 1s linear infinite .1s;
-webkit-animation: scale 1s linear infinite .1s;
}

.shadow:before {
left: 116px;
animation: scale 1s linear infinite .2s;
-webkit-animation: scale 1s linear infinite .2s;
}

.shadow:after {
left:175px;
animation: scale 1s linear infinite .3s;
-webkit-animation: scale 1s linear infinite .3s;
}

.shadow-two:before {
left:232px;
animation: scale 1s linear infinite .4s;
-webkit-animation: scale 1s linear infinite .4s;
}

.shadow-two:after {
left: 285px;
animation: scale 1s linear infinite .5s;
-webkit-animation: scale 1s linear infinite .5s;
}
/* FIN pour animation emoji rebond*/









/* DEBUT pour animation textuelle resultat citation page 1 2 et 3 */
.typing-demo {
    width: auto;
    animation: typing 5s, steps(22) blink .50s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 10px solid; /* largeur de la barre de texte clignotante */
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  /* FIN pour animation textuelle resultat citation page 1 2 et 3 */
